[Unit]
Description=RSS to IRC bridge
After=network-online.target
After=thelounge.service
After=znc.service

[Service]
RemainAfterExit=yes
ExecStart=rsspost.sh
Restart=on-failure
user=eggdrop                           

[Install]                             
WantedBy=multi-user.target
